body {
    color: #091540; /* Penn Blue */
    color: #7692FF; /* Cornflower Blue */
    color: #ABD2FA; /* Uraniun Blue */
    color: #3D518C; /* YinMn Blue */
    color: #1B2CC1; /* Persian Blue */
}